.div{
	
	width: 700px;
	border:1px #D3D3D3 solid;

	
}
.clearfix{
	overflow: auto;
}
.div1{
	height: 150px;
	width: 220px;
	background: #FFFF00;
	display:block;
	float: left;
}
.div2{
	height: 150px;
	width: 220px;
	background: #3A81BA;
	display:block;
	float: left;
}
.div3{
	height: 150px;
	width: 220px;
	background: #ED2251;
	display:block;
	float: left;
}